<a href="https://colab.research.google.com/github/AnnaDays/notebooks-DataScience/blob/main/exercicios_avan%C3%A7ando_em_dict_e_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
for lista in lista_de_listas:
  soma = sum(lista)
  print(f"A soma da lista de listas é: {soma}")

A soma da lista de listas é: 24
A soma da lista de listas é: 10
A soma da lista de listas é: 16

In [9]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista = []
for tupla in lista_de_tuplas:
  lista.append(tupla[2])
  print(f"O terceiro elemento da lista de tuplas é: {tupla[2]}")

O terceiro elemento da lista de tuplas é: 81
O terceiro elemento da lista de tuplas é: 67
O terceiro elemento da lista de tuplas é: 83

In [16]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_nomes = []
for i in range(len(lista)):
  lista_nomes.append((i, lista[i]))
print(f"A lista de tuplas com os nomes e números é: {lista_nomes}")

A lista de tuplas com os nomes e números é: [(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [17]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
dicionario = {meses[i]: despesa[i] for i in range(len(meses))} #DICT COMPREHENSION
dicionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [25]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
lista = [tupla[1] for tupla in aluguel if tupla[0] == 'Apartamento']
print(f"Os valores do Apartamento são: {lista}")

Os valores do Apartamento são: [1700, 1400, 1900]

In [28]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
lista = [lista_valores[1] for lista_valores in vendas if lista_valores[0] == '2022' and lista_valores[1] >= 6000]
print(f"Os dados filtrados do ano de 2022 com valores maior que R$6000 foram: {lista}")

Os dados filtrados do ano de 2022 com valores maior que R$6000 foram: [8883, 7688, 9544, 8190]

In [1]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
dados = [('Hipoglicemia', glicose) if glicose <= 70 else ('Normal', glicose) if glicose < 100 else ('Alterada', glicose) if glicose < 125 else ('Diabetes', glicose) for glicose in glicemia]
print(f"As informações sobre a glicemia são: {dados}")

As informações sobre a glicemia são: [('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [9]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

cabecalho = [('id', 'quantidade', 'preco', 'total')]
tuplas = [(id[i], quantidade[i], preco[i], quantidade[i]*preco[i]) for i in range(len(id))]
tuplas

[(0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [16]:
estado = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
estados = list(set(estado))
lista = []

for est in estados:
  lista_listas = [e for e in estado if e == est]
  lista.append(lista_listas)

valores = {estados[i]: len(lista[i]) for i in range(len(estados))}
valores

{'MG': 7, 'ES': 6, 'SP': 8, 'RJ': 2}

In [21]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
estados = list(set([func[0] for func in funcionarios]))
lista = []

for estado in estados:
  lista_de_listas = [func[1] for func in funcionarios if func[0] == estado]
  lista.append(lista_de_listas)

estados_valores = {estados[i]: lista[i] for i in range(len(estados))}
soma_valores = {estados[i]: sum(lista[i]) for i in range(len(estados))}
print(f"ESTADOS E SEUS VALORES: {estados_valores}")
print(f"ESTADOS E SUA SOMA: {soma_valores}")

ESTADOS E SEUS VALORES: {'MG': [9, 6, 4, 8, 5, 10, 12], 'ES': [8, 9, 7, 12, 8, 14], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'RJ': [13, 9]}
ESTADOS E SUA SOMA: {'MG': 54, 'ES': 58, 'SP': 82, 'RJ': 22}